*{
  --color-black: #111111;
  --color-white: #FFFFFF;
  --color-secondary: #E3B748;
  --color-primary: #1D1D1D;
  --color-gray: #47474780;
}

body{
  margin: 0;
  color: var(--color-white);
  font-family: 'Inter';
}
a{
  text-decoration: none;
  color: var(--color-white);
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}